/*home*/
/* desktop main */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px 0px;

    position: relative;
    width: 1440px;
    height: 1733px;

background: #DBDCDE;
  }
  
  /* THE new frontier is one click Away. */
  .new-frontier {
    position: absolute;
    width: 835px;
    height: 30px;
    left: calc(50% - 835px/2 - 211.57px);
    top: 45px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 75px;
    line-height: 91px;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 2;
  }
  
  /* SPACE WORK */
  .space-work {
    position: absolute;
    width: 1053px;
    height: 143px;
    left: calc(50% - 1053px/2 + 134px);
    top: 300px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 150px;
    line-height: 182px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
  
  /* image 1 */
  .image1 {
    position: absolute;
    width: 1675px;
    height: 685px;
    left: -12px;
    top: -4px;
    background: url(/Users/aahana/Downloads/image1.png);
    z-index: -1;
  }
  
/* Our Mission */
.our-mission {
    position: absolute;
    width: 188px;
    height: 62px;
    left: calc(50% - 188px/2 - 287px);
    top: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #000000;
  }
  .our-mission h2 {
    margin: 0;
  }

/* Logistics */
.logistics{
position: absolute;
width: 149px;
height: 40px;
left: calc(50% - 149px/2 - 92.5px);
top: 710px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
text-align: center;

color: #000000;

}


/* Launch and Recovery */
.launch-recovery{
position: absolute;
width: 301px;
height: 42px;
left: calc(50% - 301px/2 + 147.5px);
top: 710px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
text-align: center;

color: #000000;

}

/* Sign Up */
.sign-up{
position: absolute;
width: 108px;
height: 42px;
left: calc(50% - 108px/2 + 406px);
top: 708px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
text-align: center;

color: #000000;

}

/* image 3 */
.image3{
position: absolute;
width: 352px;
height: 398px;
left: -37px;
top: 900px;

background: url(/Users/aahana/Downloads/image3.png);
}

/* Join us for a majestic trip through the Galaxy—SAFER THAN EVER. */
.magestic-trip{
position: absolute;
width: 804px;
height: 199px;
left: 340px;
top: 870px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 45px;
line-height: 54px;
text-transform: uppercase;

color: #2E466D;
}

/* Have you already seen what there is to see on Earth? Do you want to see sights you could previously only dream of? With SpaceWork, your dreams of exploring space and the galaxy can be made a reality. */
.see-Earth{
position: absolute;
width: 776px;
height: 179px;
left: calc(50% - 776px/2 + 125px);
top: 1170px;

font-family: 'Palanquin';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 49px;

color: #000000;
}

.paragr{

position: absolute;
width: 776px;
height: 179px;
left: calc(50% - 776px/2 + 100px);
top: 1470px;

font-family: 'Palanquin';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 49px;

color: #000000;
}

.rectangle-7 {
  width: 1532px;
  height: 142px;
  background: #31446A;
  flex: none;
  order: 1;
  flex-grow: 0;
}
